<!DOCTYPE html>
<html lang="ru">
<head>
  <title>7dir</title>
  <meta charset="utf-8">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <style>
    
.headline2 {
  color: darkred;
  text-align: right;
  top: .3em;
  position: absolute;
  right: 1em;
 }

.subheading {
  padding-top: 3em !important;
}

  </style>
</head>
<body>
 <div id="app">
  <v-app light>
    <v-content>
      <v-container>
        <v-layout row wrap align-center>
          <v-flex xs12 md4>
            <div class="text-xs-center">
              <v-avatar size="125px">
                <img
                  class="img-circle elevation-7 mb-1"
                  src="https://rawgit.com/7dir/7dir.github.io/master/pp.jpg"
                >
              </v-avatar>

              <!-- <div class="headline">Компьютерный <span style="font-weight:bold">Маньяк</span></div> -->

              <div class="subheading text-xs-center grey--text pt-1 pb-3">
                <!-- <div id="editor"> -->
                  <!-- <textarea :value="input" @input="update"></textarea> -->
                  <div v-html="compiledMarkdown"></div>
                <!-- </div> -->
              </div>
<!-- 
              <v-layout justify-space-between>
                <a href="javascript:;" class="body-2">Home</a>
                <a href="javascript:;" class="body-2">About</a>
                <a href="javascript:;" class="body-2">Github</a>
                <a href="javascript:;" class="body-2">Other</a>
              </v-layout>
               -->
            </div>
          </v-flex>
          <v-flex xs12 md5 offset-md2>
            <div v-for="post in posts" :key="post.title">
              <v-card class="my-3" hover>
                <v-card-media
                  class="white--text"
                  height="170px"
                  :src="post.imgUrl"
                >
                  <v-container fill-height fluid>
                    <v-layout>
                      <v-flex xs12 align-end d-flex>
                        <span class="headline">{{post.title}}</span>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-media>
                <v-card-text>
                  {{post.content}}
                </v-card-text>
                <v-card-actions>
<!-- 
                  <v-btn icon class="red--text">
                    <v-icon medium>fa-reddit</v-icon>
                  </v-btn>
                  <v-btn icon class="light-blue--text">
                    <v-icon medium>fa-twitter</v-icon>
                  </v-btn>
                  <v-btn icon class="blue--text text--darken-4">
                    <v-icon medium>fa-facebook</v-icon>
                  </v-btn>
 -->
                  <v-spacer></v-spacer>
                  <v-btn flat class="blue--text" @click.stop="dialog2 = true">{{post.more}}</v-btn>
                </v-card-actions>
              </v-card>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
    <v-footer class="secondary" app>
      <v-layout row wrap align-center>
        <v-flex xs12>
          <div class="white--text ml-3">
              <!-- <button v-on:click="addf">В закладки <v-icon class="red--text" >favorite</v-icon></button> -->
             +7-962-284-13-31 © 2018
            
          </div>
        </v-flex>
      </v-layout>
    </v-footer>

      <v-dialog v-model="dialog2" max-width="500px">
        <v-card>
          <v-card-title class="headline">
            <v-icon>phone</v-icon> +7-962-284-13-31
          </v-card-title>
          <v-card-text class="dia">
                    <p>
                      Звоните! <br>
                    <br>
                      Обсудим, смоги ли Я быть Вам полезен.
                    </p>
                    <blockquote>
Извините, но материалы доступны после знакомства!
                    </blockquote>
          </v-card-text>
          <v-card-actions>
            <v-btn color="primary" flat @click.stop="dialog2=false">Ок</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>


  </v-app>
 </div>
 <script src="https://unpkg.com/jquery"></script>
 <script src="https://unpkg.com/vue/dist/vue.js"></script>
 <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
 <script src="https://use.fontawesome.com/73c8e2621d.js"></script>
<script src="https://unpkg.com/marked@0.3.6"></script>
<script src="https://unpkg.com/lodash@4.16.0"></script>

 <script>
  var intro = `
Преподаватель
Физик
Информатик


Поэт
Системщик
Программист

Творец
Трехмерного пространства


Дурак
Мечтатель
Оптимист
`;
   new Vue({
    el: '#app',
    data () {
      return {
        title: 'Mike',
        dialog2: false,
        posts: [
          {
            title: 'На старт.',
            content: `Знакомство, краткий анализ бизнеса.
Презентация разработок, последние технологии.
Творческий индивидуальный подход - создание прототипа.
Утверждение промежуточных сроков. Подписание.`,
            imgUrl: 'https://raw.githubusercontent.com/vuetifyjs/docs/dev/static/doc-images/cards/space.jpg',
            more: 'Поехали!'
          },
          {
            title: 'Технологические колючки - как быть?',
            content: `Описание бизнес процессов IDFE0, BPMN, Canvas.
Мобильные приложения, виртуальная и дополненая реальность VR-AR.
Системы дистанционное обучения LMS, Интернет магазины, Визитки. 
`,
            imgUrl: 'https://raw.githubusercontent.com/vuetifyjs/docs/dev/static/doc-images/cards/sunshine.jpg',
            more: 'мой взгляд'
          },
          {
            title: 'Научные труды',
            content: `Кинезеологический комплекс упражнений развития мозговой активности.
Интерактивные псевдо-игровые программы в образовании и медицине.
Информационная безопасность в 21 веке: угрозы, возможности.`,
            imgUrl: 'https://raw.githubusercontent.com/vuetifyjs/docs/dev/static/doc-images/cards/nature.jpg',
            more: 'Статьи'
          }
        ]
      }
    },
    computed: {
      compiledMarkdown: function () {
        return marked(intro, { sanitize: false })
      }
    },
    methods: {
      addf: function addToFavorites(url, name) { 
    // if (window.sidebar) { // Mozilla Firefox 
    //     window.sidebar.addPanel(name, url, ""); 
    // } else if (window.external) { // IE 
    //     // window.external.AddFavorite(url, name); 
    // } else if (window.opera && window.print) { 
    //     window.external.AddFavorite(url, name); 
    // } else { 
    //     alert("Sorry! Your browser doesn't appear to support this function."); 
    // } 
} ,
      update: _.debounce(function (e) {
        this.input = e.target.value
      }, 3000)
    }
  })

$('#app > div > div > main > div > div > div.flex.xs12.md5.offset-md2 > div:nth-child(3) > div > div.white--text.card__media > div.card__media__content > div > div > div > span').addClass('headline2');


 </script>
</body>
</html>
